<!doctype html>
<html ng-app="angularDataApp">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular Data Boilerplate</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body ng-controller="DataDisplay">
    <div class="container">
        <div class="row">
            <div class="small-1 columns">
                <button type="button" class="button" ng-click="updateSort('year')">Year</button>
            </div>
            <div class="small-1 columns">
                <button type="button" class="button" ng-click="updateSort('month')">Month</button>
            </div>
            <div class="small-1 columns">
                <button type="button" class="button" ng-click="updateSort('day')">Day</button>
            </div>
            <div class="small-3 columns">
                <button type="button" class="button" ng-click="updateSort('where')">Where</button>
            </div>
            <div class="small-2 columns">
                <button type="button" class="button" ng-click="updateSort('howmuch')">How Much</button>
            </div>
            <div class="small-2 columns">
                <button type="button" class="button" ng-click="updateSort('how')">How</button>
            </div>
        </div>
        <div class="row" ng-repeat="pmt in transactions">
            <div class="small-1 columns">{{pmt.year}}</div>
            <div class="small-1 columns">{{pmt.month}}</div>
            <div class="small-1 columns">{{pmt.day}}</div>
            <div class="small-3 columns">{{pmt.where}}</div>
            <div class="small-2 columns">{{pmt.howmuch}}</div>
            <div class="small-2 columns">{{pmt.how}}</div>
        </div>
    </div>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/what-input.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
